.cartContainer{
  margin-top: 12px;
  margin-inline: 100px;
  min-height: 100px;
  @media (max-width: $mantine-breakpoint-xl){
    margin-inline: 50px;
  }
  @media (max-width: $mantine-breakpoint-lg){
    margin-inline: 25px;
  }
  @media (max-width: $mantine-breakpoint-md){
    margin-inline: 10px;
  }
}

.cartCont{
  flex-wrap: nowrap;
  @media (max-width: 1650px){
    flex-wrap: wrap;
  }
}
.cartItemsContainer{
  width: 100%;
}
.cartTotal{
  @media (min-width: 1650px){
    flex: 0 0 375px;
    align-self: stretch;
  }
  @media (max-width: 1650px){
    flex: 1 0 375px;
    width: 100%;
    align-self: stretch;
    justify-self: stretch;
  }
  @media (max-width: $mantine-breakpoint-sm){
    flex-shrink: 1;
  }
}