.menuItemBox{
  width: 250px;
  height: 400px;
  background: var(--mantine-color-background);
  .imageBox{
    width: 220px;
    height: 220px;
  }
  
  &:has(.imageBox:hover){
    scale: 1.05;
    transition: all 0.3s;
  }
  &:not(hover){
    scale: 1;
    transition: all 0.3s;
  }
  .image{
    border-radius: 10px;
  }
  @media (min-width: 460px) and (max-width: 564px) {
    width: 400px;
    height: 600px;
    .imageBox{
      width: 370px;
      height: 370px;
    }
  }
  @media (min-width: 320px) and (max-width: 460px) {
    width: 300px;
    height: 500px;
    .imageBox{
      width: 270px;
      height: 270px;
    }
  }
}