.orderCardWrapper{
  width: 900px;
  border: 1px var(--mantine-color-background) solid;
  .bottomAboutButton{
    border-radius: 0;
  }
  @media (max-width: $mantine-breakpoint-xl) {
    width: 750px;
  }
  @media (max-width: $mantine-breakpoint-lg) {
    width: 500px;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    width: 90%;
  }
}