
.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.item-exit {
  height: 150px;
}

.item-exit-active {
  height: 0;
  transition: height 200ms;
}