.bodyColor{
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-black));;
}
.navbar{
  padding: var(--mantine-spacing-md);
  background-color: light-dark(var(--mantine-color-grey-1), var(--mantine-color-black));
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.1); 
  @media(max-width:$mantine-breakpoint-sm){
    z-index: 300;
  }
}
.bottomText{
  text-align: center;
  font-size: var(--mantine-font-size-sm);
  line-height: var(--mantine-line-height-sm);
  color: var(--mantine-color-dimmed);
}
.header{
  background: light-dark(var(--mantine-color-grey-1), var(--mantine-color-black));
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); 
}