.mainBg{
  position: relative;
  z-index: 1;
}
.mainBg::before{
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .90; 
  z-index: -1;
  background-image: url('/bg12.png');
  background-size: contain;
}