.mainBg{
  position: relative;
  background: light-dark(url("bg_test2.svg"),url("bg_test2_dark.svg"));
  background-size: contain;
  z-index: 1;
}
.mainBg::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(243, 41, 41, 0.1); /* полупрозрачная подложка */
  z-index: -1;
}

.formBox{
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: var(--mantine-spacing-xl);
  z-index: 10;
  border-radius: var(--mantine-radius-sm);
  box-shadow: light-dark(0 6px 8px rgba(0,0,0,0.2),
    0 6px 8px rgba(255,255,255,0.08)
  ); 
  border: light-dark(var(--mantine-color-grey-1), var(--mantine-color-gray-8)) 1px solid;

}