.orderCardWrapper{
  width: 900px;
  box-shadow: var(--mantine-shadow-xl);
  border: 1px var(--mantine-color-background) solid;
  @media (max-width: $mantine-breakpoint-xl) {
    width: 750px;
  }
  @media (max-width: $mantine-breakpoint-lg) {
    width: 500px;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    width: 90%;
  }
  &[data-skeleton=true]{
    min-height: 300px;
  }
  .headerSection{
    background: var(--mantine-color-background);
    padding: var(--mantine-spacing-md);
    .headerText{
      font-weight: 500;
      font-size: var(--mantine-h3-font-size);
    }
    .italicText{
      font-size: var(--mantine-h3-font-size);
      font-style: italic;
    }
  }
  .bodySection{
    padding: var(--mantine-spacing-md);
    .statusContainer{
      background: light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-8));
      border-radius: var(--mantine-radius-md);
    }
    .caption{
      font-style: italic;
    }
    .informationLabel{
      font-weight: 500;
    }
  }
  .bottomSection{
    .aboutButton{
      width: 100%;
      background: var(--mantine-color-background);
      border: 0px;
      border-radius: 0;
    }
  }
}