.labelBox{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  strong{
  font-size: 20px;

    color: var(--mantine-color-primary-4);
    transition: 0.3s ease-in;
    &:hover{
      scale: 1.1;      
    }
  }
}