// .submitModalButton{
//   flex-shrink: 0;
//   position: sticky;
//   bottom: 0;
//   height: 50px;
//   width: 100%;
//   border-radius: 0;
// }

.submitModalButtonContainer{
  flex-shrink: 0;
  position: sticky;
  bottom: 0;
  height: 60px;
  width: 100%;
  border-radius: 0;
  text-align: center;
  font-size: var(--mantine-font-size-xl);
}
.submitModalButton{
  border-radius: 48px;
  height: 50px;
  margin-top: 5px;
}