.root {
  height: 100dvh;
  background-color: #11284b;
  background-size: cover;
  background-position: center;
  // background-image: linear-gradient(270deg, #580a6400 0%, rgb(255, 234, 216) 70%), url('/_min.png');
  [data-mantine-color-scheme='dark'] &{
    // background-color: ;
    background-image: linear-gradient(250deg, rgba(130, 201, 30, 0) 0%, #062343 70%),
    image-set(
      url('bg.avif') type('image/avif'),
      url('/_min.png') type('image/png'),
    ) ;
  }
  [data-mantine-color-scheme='light'] &{
    background-image: linear-gradient(270deg, #580a6400 0%, rgb(255, 234, 216) 60%), 
    image-set(
      url('bg.avif') type('image/avif'),
      url('/_min.png') type('image/png'),
    );
  }
  padding-top: calc(var(--mantine-spacing-xl) * 3);
  padding-bottom: calc(var(--mantine-spacing-xl) * 3);
}

.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.image {
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.content {
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  margin-right: calc(var(--mantine-spacing-xl) * 3);
  display: flex;
  flex-direction: column;
  @media (max-width: $mantine-breakpoint-sm) {
    margin-right: 0;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
  line-height: 1.25;
  max-width: rem(600px);
  font-size: rem(48px);

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
    font-size: rem(34px);
    line-height: 1.05;
  }
}

.description {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  opacity: 0.75;
  max-width: rem(500px);

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.control {
  padding-left: rem(50px);
  padding-right: rem(50px);
  margin-top: 2rem;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(22px);
  align-self: flex-start;
  border-radius: 12px;
  @media (max-width: $mantine-breakpoint-sm) {
    align-self: center;
  }
  &:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
    animation: gradientShift 6s ease infinite;
  }
}
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.advantagesBlock{
  margin-left: 0.25rem;
  margin-top: 3rem;
  .advantage{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    gap: 0.75rem;
  }
}

.menuButtonLabel{
  font-size: 13px;
  color: var(--mantine-color-dimmed);
  margin-top: 0.5rem;
}