.signInFormBox{
  min-height: 337px;
  transform: height 0.2s ease;
  @media(min-width: 550px){
    width: 500px;
    max-width: 500px;
  }
  // padding: var(--mantine-spacing-xl);
  // border-radius: var(--mantine-radius-md);
}