.filterBarContainer{
  @media (max-width:$mantine-breakpoint-sm ){
    display: none
  }
}
.resetButton{
  color: var(--mantine-color-primary-5);
  &[data-disabled=true]{
    color: var(--mantine-color-disabled);
  }
}
.resetButtonHeader{
  visibility: hidden;
}