.firstAuthFormBox{
  transform: height 0.2s ease;
  min-height: 337px;
  @media(min-width: 550px){
    width: 500px;
    max-width: 500px;
  }
  @media(max-width: 550px){
    width: 95dvw;
  }
  // padding: var(--mantine-spacing-xl);
  // border-radius: var(--mantine-radius-md);
  .header{
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    @media(max-width: 550px){
      font-size: var(--mantine-font-size-md);
    }
    &{
      font-size: var(--mantine-font-size-lg);
    }
  }
}