.input{
  line-height: 2.5rem;
  font-size: 1.25rem;
  height: 4rem;
  border-radius: var(--mantine-radius-xl);
  color: var(--mantine-color-grey-9);
  font-weight: normal;
}
.icon{
  color: var(--mantine-color-primary-4);
  width: 32px;
  height: 32px;
}