.cartItemContainer{
  height: 200px;
  display: flex;
  flex-direction: row;
  gap: var(--mantine-spacing-md);
  align-items: center;
  justify-items: flex-start;
  flex-wrap: nowrap;
  .centralSegment{
    flex-grow: 1;
    height: 100%;
    // padding-bottom: var(--mantine-spacing-md);
  }
  .image{
    align-self: flex-start;
    width: 180px;
    height: 180px;
    position: relative;
    flex-shrink: 0;
  }
  &:has(.image[data-modal-opened=true]){
    scale: 1;
    transition: 0.3s;
  }
  .cartItemHeader{
    font-size: 24px;
    font-weight: 500;
  }
  .cartItemDescription{
    font-size: var(--mantine-font-size-lg);
    color: var(--mantine-color-dimmed);
  }
  .priceBlock{
    flex: 0 0 120px;
    height: 100%;
    align-self: flex-end;
  }
  .removeIcon{
    width: 32px;
    height: 32px;
  }
  @media (max-width: $mantine-breakpoint-sm){
    &{
      height: 160px;
    }
    .image{
      width: 140px;
      height: 140px;
    }
    .cartItemHeader{
      font-size: var(--mantine-font-size-md);
    }
    .cartItemDescription{
      font-size: var(--mantine-font-size-xs);
    }
    .priceBlock{
      flex-basis: 70px;
    }
    .removeIcon{
      width: 24px;
      height: 24px;
    }
  }
  @media (max-width: 450px){
    &{
      height: 160px;
    }
    .image{
      width: 100px;
      height: 140px;
    }

  }
  @media (max-width: 360px){
    .image{

      display: none;
    }
  }
}
