.filtersBox{
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  @media (max-width:$mantine-breakpoint-sm ){
    flex-direction: column;
  }
}
.select{
  width: 300px;
  @media (min-width: 1480px) and (max-width: 1745px) {
    width: 250px;
  }
  @media (min-width:$mantine-breakpoint-sm ) and (max-width: 1480px) {
    width: 200px;
  }
  @media (min-width:$mantine-breakpoint-sm ) and (max-width: 1114px) {
  }
  @media (min-width:$mantine-breakpoint-xs ) and (max-width:$mantine-breakpoint-sm ){
  }
  @media (min-width: 460px) and (max-width: 564px) {
  }

  @media  (max-width:460px ){
  }
}